<div class="container">
    <div class="row">
        <div class="col col-lg-2">

            <form [formGroup]="tripFormGroup" (ngSubmit)="onSubmit()">

                <!-- Success message -->
                <div *ngIf="showSavedMessage" class="alert alert-success" role="alert" 
                id="success_message">Trip has been saved</div>

                <!-- Overlapping message -->
                <div *ngIf="showOverlappingMessage" class="alert alert-danger" role="alert" 
                id="overlapping_message">Trip overlaps existing one</div>                

                <div [class.invalid]="showInvalidClass('tripname')">
                    <label for="tripname">Name: </label>
                    <input id="tripname" type="text" class="form-control" formControlName="tripname">
                </div>
                <div *ngIf="showFormError('tripname')" class="alert">
                    <span *ngIf="fc_errors('tripname').required"
                        class="text-danger">Please enter name of the trip</span>
                </div>

                <div [class.invalid]="showInvalidClass('startdate')">
                    <label for="startdate">Start: </label>
                    <input id="startdate" type="text" class="form-control" formControlName="startdate">
                </div>                    
                <div *ngIf="showFormError('startdate')" class="alert">
                    <span *ngIf="fc_errors('startdate').required"
                        class="text-danger">Please enter start date of the trip</span>
                    <span *ngIf="fc_errors('startdate').toSmall" 
                        class="text-danger">Trips ends before it starts, please check start and end date again.</span>
                    <span *ngIf="fc_errors('startdate').pattern"
                        class="text-danger">Please enter date in format 'YYYY-MM-DD'</span>
                    <span *ngIf="fc_errors('startdate').invalidDate"
                        class="text-danger">Please enter a valid date</span>
                </div>

                <div [class.invalid]="showInvalidClass('enddate')">
                    <label for="enddate">End: </label>
                    <input id="enddate" type="text" class="form-control" formControlName="enddate">
                </div>
                <div *ngIf="showFormError('enddate')" class="alert">
                    <span *ngIf="fc_errors('enddate').required" 
                        class="text-danger">Please enter end date of the trip</span>
                    <span *ngIf="fc_errors('enddate').pattern" 
                        class="text-danger">Please enter date in format 'YYYY-MM-DD'</span>
                    <span *ngIf="fc_errors('enddate').invalidDate" 
                        class="text-danger">Please enter a valid date</span>
                </div>

                <button type="submit" class="btn btn-sm btn-outline-primary mt-3" [disabled]="tripFormGroup.invalid"><i
                        class="fa fa-paper-plane"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
